@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
img{
   grid-column: 1/2;
   grid-row:1/3;
   width:100%;
   height: 100%;
   background-color: white;
}
.grey{
    grid-column: 2/3;
    grid-row:1/3;
    width:100%;
    height:100%; 
    background-color: grey;
}
h1{
    text-align: center;
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 1/3;
    grid-row:1/2;
}
p{
    text-align: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    grid-column: 2/3;
    grid-row:2/3;

}